{% extends "base.html" %} {% block main_area%}
<h1>test page</h1>
<!-- {{ dbDatas }} -->
<div class="col-8">
  <canvas id="line-chart"></canvas>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<!-- <script>
  // DOM 에서 chart push 영역 지정
  const ctx = document.getElementById('myChart');
  /*
  {% for cd in countryDatas %}
    {{ cd.country }}
    {{ cd.population }}
  {% endfor %}
  */
  // chart data 설정
  const labels = [
    {% for chartData in dbDatas %}
      "{{ chartData.0 }}",
    {% endfor %}
  ] // views.py 에서 넘어오는 값
  const popData = [
    {% for chartData in dbDatas %}
      {{ chartData.1 }},
    {% endfor %}
  ]
  const data = {
    labels: labels,
    datasets: [
    {
      label: 'Dataset',
      data: Utils.numbers({count: 6, min: -100, max: 100}),
      borderColor: Utils.CHART_COLORS.red,
      backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
      pointStyle: 'circle',
      pointRadius: 10,
      pointHoverRadius: 15
    }
  ]
  };


  // chart default setting
  const config = {
    type: 'line',
    data: data,
    options: {
      responsive: true,
      plugins: {
        title: {
          display: true,
          text: (ctx) => 'Point Style: ' + ctx.chart.data.datasets[0].pointStyle,
        }
      }
    }
  };

  // chart 객체 설정
  // new Chart(DOM 에서 chart push 영역, chart default setting)
  new Chart(ctx, config)
</script> -->


<script
    src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
<script>

  const labels = [
      {% for chartData in dbDatas %}
        "{{ chartData.0 }}",
      {% endfor %}
    ] // views.py 에서 넘어오는 값
    const popData = [
      {% for chartData in dbDatas %}
        {{ chartData.1 }},
      {% endfor %}
    ]
	new Chart(document.getElementById("line-chart"), {
		type : 'line',
		data : {
			labels : labels,
			datasets : [
					{
						data : popData,
						label : "America",
						borderColor : "#3cba9f",
						fill : false
					}]
		},
		options : {
			title : {
				display : true,
				text : 'ya'
			}
		}
	});
</script>

{% endblock %}
