<!-- 이미지보기 팝업(모달)창 -->
<div class="modal fade" id="viewModal">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">이미지보기</h4>
			</div>
			<div class="modal-body">
				
				<div class="formgroup" >
					<canvas id="line-chart-yc"></canvas> <!-- ajax로 처리 : 이미지출력 위치-->
				</div>
				
				<div class="formgroup">
					<p id="viewModelContent"></p>
				</div>
				
			</div>
			<!-- <form method="" action=""> -->
				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>

				<button type="button" class="btn btn-danger" id="btnDel">삭제</button>

			</div>
			
			<!-- </form> -->
			
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->	


<script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js">
</script>


<script>
//   const labelsYC = [
//       {% for chartYcData in topYcList %}
//         "{{ chartYcData.0 }}",
//       {% endfor %}
//     ] // views.py 에서 넘어오는 값
//     const topDataYc = [
//       {% for chartYcData in topYcList %}
//         {{ chartYcData.1 }},
//       {% endfor %}
//     ]
// 	new Chart(document.getElementById("line-chart-yc"), {
// 		type : 'line',
// 		data : {
// 			labels : labelsYC,
// 			datasets : [
// 					{
// 						data : topDataYc,
// 						label : "America",
// 						borderColor : "#3cba9f",
// 						fill : false
// 					}]
// 		},
// 		options : {
// 			title : {
// 				display : true,
// 				text : 'ya'
// 			}
// 		}
// 	});

//   const labelsDB = [
//       {% for chartDbData in topDbList %}
//         "{{ chartDbData.0 }}",
//       {% endfor %}
//     ] // views.py 에서 넘어오는 값
//     const topDataDB = [
//       {% for chartDbData in topDbList %}
//         {{ chartDbData.1 }},
//       {% endfor %}
//     ]
// 	new Chart(document.getElementById("line-chart-db"), {
// 		type : 'line',
// 		data : {
// 			labels : labelsDB,
// 			datasets : [
// 					{
// 						data : topDataDB,
// 						label : "America",
// 						borderColor : "#3cba9f",
// 						fill : false
// 					}]
// 		},
// 		options : {
// 			title : {
// 				display : true,
// 				text : 'ya'
// 			}
// 		}
// 	});

	function mapimg(imgSrc) {
		console.log(imgSrc);
		document.getElementById("map_change").src = imgSrc;
		}
		// 사진 클릭 했을 때
	function mapChart(x){
		console.log("사진 클릭");
		var saveName = $("#map_change").attr("src");
		console.log(saveName)
		$('#viewModal').modal();
		// const testalt = $(this).attr("alt")
		console.log(x)
		
		// var authUserNo = $("[name=userNo]").val();
		
		// $("#viewModal").modal();
		
		// 이미지 출력 ajax
		$.ajax({
			
			url : "{% url 'post' %}",		
			type : "POST",
			//contentType : "application/json",
			data : {
				"borough": x,
				"csrfmiddlewaretoken": '{{ csrf_token }}'
			},
			headers: { "X-CSRFToken": "{{ csrf_token }}"
			},
			dataType : "JSON",
			success : function(resData){
				/*성공시 처리해야될 코드 작성*/
				console.log("성공");
				// console.log(resData)
				// console.log(resData[0])
				// console.log(resData[0][0]["id"])
				// console.log(resData[1][0]["restaurant"])

				let objCnt = Object.keys(resData[0]).length
				let resCnt = Object.keys(resData[1]).length
				console.log(resCnt)
				let num = 0
				let num2 = num
				let test = []
				console.log(typeof resData)
				while (true){
					psSum = 0
					prSum = 0
					// db 안에 있는 식당 이름을 식당 리스트와 비교하는 반복문        
					for (var i = 0; i < objCnt; i++){
						// console.log(i)
						resName2 = resData[0][i]['restaurant']
						// console.log(resName2)
						resName1 = resData[1][num2]['restaurant']
						// test.push(resName1)
						// console.log(resName1)
						if (resName1 == resName2){
								console.log(resName2)
								psSum = resData[0][i]['personnel'] + psSum
								prSum = resData[0][i]["price"] + prSum
	
								result = prSum / psSum
								result = Math.ceil(result / 100) * 100;
								console.log(result)
								

						}
					}
					num += 1
					if (num >= resCnt){
						break;
					}
				}
			},
			error : function(XHR, status, error) {
				console.log("실패")
				console.error(status + " : " + error);
			}
		});

	}
		
</script>
