{% extends "base.html" %}

{% block head_title %}
	막걸리나
{% endblock %}

{% block main_area%}
<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Park Leena</h2>
			<p>공부가 취미인 풀 스택 웹 개발자입니다.<br />
				매우 꼼꼼한 성격, 그리고 공부를 밥 먹듯이 하는 습관이 저의 장점입니다.</p>
		</header>
		<span class="image"><img src="/static/images/main1.jpg" alt="" /></span>
	</div>
	<a href="#one" class="goto-next scrolly">Next</a>
</section>

<!-- One -->
<section id="one" class="spotlight style1 bottom">
	<span class="image fit main"><img src="/static/images/aboutme.png" alt="" /></span>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-4 col-12-medium">
					<header>
						<h2>박리나</h2>
						<p>BACKEND</p>
					</header>
				</div>
				<div class="col-4 col-12-medium">
					<p>
						<img src="/static/images/email.png" alt="">
						<br>
						<span>xoxothx9@gmail.com</span>
					</p>
				</div>
				<div class="col-4 col-12-medium">
					<p>
						<img src="/static/images/pin.png" alt="">
						<br>
						<span>서울시 양천구</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
<section id="two" class="spotlight style2 right">
	<span class="image fit main"><img src="/static/images/skills_3.png" alt="" /></span>
	<div class="content">
		<header>
			<h2>SKILLS</h2>
			<p></p>
		</header>
		<ul>
			<li>JAVA</li>
			<li>SPRING</li>
			<li>PYTHON</li>
			<li>DJANGO</li>
			<li>ORACLE</li>
			<li>MYSQL</li>
		</ul>
		<ul class="actions">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</div>
	<a href="#three" class="goto-next scrolly">Next</a>
</section>

<!-- Three -->
<section id="three" class="spotlight style3 left">
	<span class="image fit main bottom"><img src="/static/images/ARCHIVING_3.png" alt="" /></span>
	<div class="content">
		<header>
			<h2>ARCHIVING</h2>
			<p>소스 코드 저장소 & 수업 정리 및 공부</p>
		</header>
		<p></p>
		<ul class="actions">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</div>
	<a href="#four" class="goto-next scrolly">Next</a>
</section>


		<footer class="major">
			<ul class="actions special">
				<li><a href="#" class="button">Magna sed feugiat</a></li>
			</ul>
		</footer>
	</div>
</section>

<!-- Five -->
<!-- <section id="five" class="wrapper style2 special fade">
	<div class="container">
		<header>
			<h2>Magna faucibus lorem diam</h2>
			<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
		</header>
	</div>
</section> -->



</div>

{% endblock %}